.topPart {
  display: flex;
  column-gap: 5rem;
  justify-content: center;
  width: 100%;
  margin-left: -150px;
  margin-top: 20px;
}

.quantitydiv {
  display: flex;
  column-gap: 20px;
  margin-top: 10px;
  flex-direction: column;

  position: absolute;
  width: auto;
  padding: 10px;
}

.price {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

.upperButton button {
  background-color: #b79d33;
  display: flex;
  border-radius: 4px;
  color: #fff;
  border: none;
  height: 35px;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.buybutton button {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 0.5px solid #a18e02;
  margin-top: 20px;
  background-color: #b79d33;
  color: white;
  font-size: 16px;
  font-weight: 500
}

.chk-del-date {
  font-size: 21px;
  font-weight: 600;
  color: grey
}

.upperButton {
  display: flex;
  column-gap: 20px;
}

.css-i4bv87-MuiSvgIcon-root {
  font-size: 1.3rem;
}

/* .details h1 {
  font-size: 3em;
} */

.icons svg {
  width: 70px;
  height: 70px;
}

.icons p {
  font-size: 1.5em;
}

.categorydetails p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: small;
}


.pro-color-img-active{
  width: 60px;
  height: 60px;
  margin: 5px;

  border: solid 2px yellow;
  border-radius: 50%;

  background-size: cover !important;
}
.heading {
  display: flex;
  column-gap: 2em;
  justify-content: center;
  align-items: center;
}

.description {
  margin-top: 10px;
  display: block;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  width: 85%;
  border: 1px solid #d38916;
  height: auto;
  margin: auto;
  border-radius: 10px;
  padding: 20px;
}

.desTitle {
  text-decoration: underline;
}

.underline {
  text-decoration: underline;
  color: #d38916;
}

.review {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  font-weight: 600;
}

.heading p {
  font-size: 2em;
}

.lowerCarousel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.lowerCarousel p {
  font-size: 2em;
}

.upperSmallCarousel img {
  width: 117px;
  border-radius: 5px;
  height: 100px;
  margin-bottom: 20px;
}

.smalCarouselimg img {
  width: 86px;
  height: 70px;
}

.upperSmallCarousel {
  padding-top: 10px;
  /* width: 350px; */
}

.lowerCarousel {
  display: flex;
  column-gap: 10px;
  width: 100%;
}

.lowerCarousel img {
  width: 150px;
}

.img {
  display: flex;
  gap: 20px;
}

.carouselmini {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondCarousel {
  display: flex;
  column-gap: 10px;
}

.sp-rv-name {
  font-size: 14px;
  font-weight: 600;
  margin-top: 5px;
}

.color-container {
  max-width: 500px;
  width: 100%;

  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}



@media screen and (max-width: 1100px) {
  .buybutton button {
    width: 400px;
  }

  .upperButton button {
    width: 200px;
  }
}

@media screen and (max-width: 1024px) {
  .buybutton button {
    width: 300px;
  }

  .topPart {
    margin-left: 0px;
  }

  .upperButton button {
    width: 150px;
  }

}

@media screen and (max-width: 450px) {
  .topPart {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .topPart {
    margin-left: 0px;
  }

  .img {
    display: flex;
    gap: 5px;
    margin-left: -12px;
  }
}

@media screen and (max-width: 800px) {


}

@media screen and (max-width: 600px) {
  .topPart {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
  }

  .topPart {
    column-gap: 2em;
  }

  .topPart {
    margin-left: 0px;
  }

  .details {
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    position: relative;
    /* justify-content: center;
    align-items: center; */
  }

  .para {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    width: 316px;
  }

  /* .MainDiv {
    row-gap: 1em;
  } */
  .categorydetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: 1em sans-serif !important;
  }

  .quantitydiv {
    position: relative;
  }

  .buybutton button {
    width: 348px;
  }
}

.slider {
  width: 900px;

  margin-bottom: 15px;
}

.bottomimage img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

.bottomimage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

@media screen and (max-width: 380px) {
  .MainDiv {
    width: 100%;
  }

  .upperButton {
    display: flex;
    column-gap: 10px;
    justify-content: center;
  }

  .buybutton {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buybutton button {
    width: 300px;
  }

  .upperSmallCarousel {
    width: 285px;
  }

  .topPart {
    margin-left: 0px;

  }

  .slider {
    width: 300px;
  }

  .slider img {
    width: 80px;
    height: 80px;
  }

  .img img {
    height: 350px;
    width: 340px;
    margin-left: -13px;
    border-radius: 10px;

  }

  .upperSmallCarousel img {
    height: 80px;
    width: 60px;
  }

  .carouselmini {
    width: 25%;
  }
}

.pro-detail-heading {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.70px;
  color: #b79d33;
  letter-spacing: 0.75px;
  text-transform:uppercase;
}

.rating-box-1 {
  background-color: #00807A;
  font-size: 13px;
  font-weight: 500;
  padding: 5px;
  color: white;
  border-radius: 5px;
  width: 47px;
  text-align: center;
}

.rating-icon-sz {
  font-size: 13px;
  color: white
}

.para-font-cont {
  font-size: 16px;
  font-weight: 600;
  color: rgb(22, 22, 22)
}

.pin-box-int {
  border: solid 1px #b79d33;
  font-size: 15px;
  font-weight: 600;
  width: 50%;
}

.check-btn-del {
  background-color: #b79d33;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  width: 30%
}

.pro-dt-para {
  font-size: 15px;
  font-weight: 600;
  color: rgb(102, 102, 102) !important;
  letter-spacing: 0.75px
}

.rate-icon-col {
  color: #b79d33;
  font-size: 15px
}

.rate-icon-box {
  font-size: 16px;
  font-weight: 500;
  border: solid 1px rgb(211, 210, 210);
  width: 180px;
  text-align: center;
  height: 30px;
  border-radius: 5px;
  color: rgb(26, 25, 25);
  margin-bottom: 10px;
}

.tagline-line {
  border-bottom: solid 0.75px grey;
  margin-top: 0px;
  width: 100%;
}


.off-font {
  font-size: 20px;
  margin-left: 10px;
  color: #b79d33
}

.tax-font {
  font-size: 16px;
  font-weight: 600;
  color: #7a6200;
}

.col-fnt-sz {
  font-size: 16px;
  font-weight: 600 !important;
}

.pro-color-img {
  width: 60px;
  height: 60px;
  margin: 5px;

  border-radius: 50%;

  background-size: cover !important;
}

.sel-size,.sel-size-active {
  font-size: 13px;
  font-weight: 700 !important;
  border: solid 1px rgb(85, 84, 84);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;

}

.sel-size-active{
  border: solid 2px yellow;
  background-color: rgb(241, 241, 93);
}

.add-to-cart-btn-sz {
  border: none;
  background-color: #b79d33;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 11px;
  padding-bottom: 11px;
  border: solid 1.5px #b79d33;
  width:100%;
}

.wishlist-btn-sz {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 11px;
  padding-bottom: 11px;
  border: solid 1.5px #b79d33;
  color: #a18e02;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  background-color: white;
  margin-left: 10px;
  width:100%;
}

/* .out-stock{
 border-left:soild 1px grey
} */
.zip-code-fnt {
  font-size: 13px;
  font-weight: 500;
  margin-top: 5px;
}

.pro-dtl-ft-sz {
  font-size: 16px;
  font-weight: 600;
  color: rgb(94, 93, 93);
  letter-spacing: 0.75px;
  font-family:'Inria Sans', sans-serif !important;
  background-color: transparent !important;
}
.material-fnt-sz{
  font-size:16px;
  font-weight:600;
  letter-spacing: 0.75px;
  color:black;
  font-family:'Inria Sans', sans-serif !important;
}
.product-display {
  display: flex;
}

.mate-mg-tp {
  margin-top: -13px;
}

.spe-p-tag {
  font-size: 13px;
  font-weight: 500;
}

.rating-fnt-sz-1 {
  font-size: 30px;
  font-weight: 600 !important;
}

.like-fnt-icon {
  font-size: 15px;
  font-weight: 600;
  color: grey
}

.lk-icon-sz {
  font-size: 18px !important;
  color: grey;

}

.cmt-rev-box-smt {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #b79d33;
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-top: 20px;
  border-radius: 10px;
}


.pro-icn-sz-1 {
  width: 29px;
  height: 29px;
}

.pro-icn-para {
  font-size: 15px;
  font-weight: 600;
  color: rgb(92, 92, 92);
  letter-spacing: 0.75px;
}

.offer-price {
  color: #7a6200;
  letter-spacing: 0.75px;
  font-family:'Inria Sans', sans-serif !important;
}
.pro-dtl-ft-sz span {
  font-family:'Inria Sans', sans-serif !important;
  background-color: transparent !important;
}
.offer-list-fnt {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.75px;
  font-family:'Inria Sans', sans-serif !important;
}

.offer-heading-txt {
  letter-spacing: 0.75px !important;
  color: #000000 !important;
  font-family:'Inria Sans', sans-serif !important;
}

.out-stock {
  border: solid 1px rgb(189, 189, 189);
  width: 50px;
  height: 50px;
  border-radius: 10px;
  padding: 11px;
  text-align: center;
  color: rgb(189, 189, 189);
  cursor: auto;
  font-size: 16px;
  font-weight: 600 !important;
  z-index: -1;
}

.out-stock {
  text-decoration: none;
  position: relative;
}

.out-stock::before {
  top: 50%;
  /*tweak this to adjust the vertical position if it's off a bit due to your font family */
  background: rgb(112, 112, 112);
  /*this is the color of the line*/
  opacity: .7;
  content: '';
  width: 109%;
  position: absolute;
  height: 1.2px;
  border-radius: .1em;
  left: -4%;
  white-space: nowrap;
  display: block;
  transform: rotate(-35deg);
}

.user-cmt-bx {
  display: flex;
  justify-content: space-between;
}

.top-space-dt {
  margin-top: 50px;
}

.rate-prod-btn {
  font-size: 15px;
  font-weight: 600;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: white;
  border: solid 1px #b79d33;
  border-radius: 7px;
}
/* .obtft-img-vw{
width:100%;
height:350px;
} */
.obtft-img-vw img{
  width:100%;
  height:auto;
  position:relative;
 
}
.product-mobvw-slidersz{
  width:100%;
  max-width:1080px !important;
  height:300px !important;
 
}
.carousel-indicators [data-bs-target]{
  width: 4px !important;
    height: 5px !important;
    border-radius: 50% !important;
}
.varient-img-box{
  box-sizing: border-box;
  display:flex;
  overflow: scroll;
  width:100%;
}
.varient-imgsz{
  width:80px;
  height:80px;
  margin-top:20px;
  border-radius: 8px;
  box-shadow:1px 1px 2px 2px rgb(238, 238, 238);
  margin-left:7px;
}
@media only screen and (max-width:767.98px) {
  .detl-page-mobvw{
    margin-right:-5px !important;
    /* padding-right: -5px !important; */
  
  }
  .pt-mob-view{
    padding:5px;
  }
  .check-btn-del {
    background-color: #b79d33;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    width: 100%
  }

  .upperButton {
    display: block;
    column-gap: 20px;

  }

  .pro-detail-icon-btn {
    margin-top: 10px;
  }

  .add-to-cart-btn-sz {
    border: none;
    background-color: #b79d33;
    color: white;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: solid 1.5px #b79d33;
    width: 100%;
  }

  .wishlist-btn-sz {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: solid 1.5px #b79d33;
    color: #a18e02;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    background-color: white;
    margin-left: 10px;
    width: 100%;
  }

  .pin-box-int {
    border: solid 1px #b79d33;
    font-size: 15px;
    font-weight: 600;
    width: 100%;
  }

  .mobile-view-dply {
    display: none;
  }

  .user-cmt-bx {
    display: block;
    justify-content: space-between;
  }

  .top-space-dt {
    margin-top: 0px;
  }

  .pro-detail-heading {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.70px;
    color: #b79d33;
    letter-spacing: 0.75px;
  }

  .pro-dt-para {
    font-size: 13px;
    font-weight: 600;
    color: rgb(138, 138, 138);
    letter-spacing: 0.75px
  }

  .price {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
  }

  .off-font {
    font-size: 15px;
    margin-left: 10px;
    color: #b79d33
  }

  .tax-font {
    font-size: 14px;
    font-weight: 600;
    color: #7a6200;
  }

  .col-fnt-sz {
    font-size: 15px;
    font-weight: 600 !important;
  }

  .pro-color-img,.pro-color-img-active {
    width: 60px;
    height: 60px;
    margin: 5px;
    background-size: cover !important;
  }


  .pro-color-img-active{
    border: solid 2px yellow;
    background-size: cover !important;
  }

  .sel-size {
    font-size: 12px;
    font-weight: 700 !important;
    border: solid 1px rgb(85, 84, 84);
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 100%;
    padding: 7px;
    cursor: pointer;

  }

  .out-stock {
    border: solid 1px rgb(189, 189, 189);
    width: 47px;
    height: 47px;
    border-radius: 10px;
    padding: 7px;
    text-align: center;
    color: rgb(189, 189, 189);
    cursor: auto;
    font-size: 16px;
    font-weight: 600 !important;
  }

  .out-stock {
    text-decoration: none;
    position: relative;
  }

  .out-stock::before {
    top: 50%;
    /*tweak this to adjust the vertical position if it's off a bit due to your font family */
    background: rgb(112, 112, 112);
    /*this is the color of the line*/
    opacity: .7;
    content: '';
    width: 109%;
    position: absolute;
    height: 1.2px;
    border-radius: .1em;
    left: -4%;
    white-space: nowrap;
    display: block;
    transform: rotate(-35deg);
  }

  .chk-del-date {
    font-size: 17px;
    font-weight: 600;
    color: grey
  }

  .offer-heading-txt {
    letter-spacing: 0.75px !important;
    color: #000000 !important;
    font-size: 15px !important;
  }

  .offer-list-fnt {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.75px;

  }

  .pro-dtl-ft-sz {
    font-size: 14px;
    font-weight: 600;
    color: rgb(94, 93, 93);
    letter-spacing: 0.75px;
    text-align: justify;
  }

  .pro-icn-para {
    font-size: 13px;
    font-weight: 600;
    color: rgb(92, 92, 92);
    letter-spacing: 0.75px;
  }

  .pro-icn-sz-1 {
    width: 25px;
    height: 25px;
  }

  .rate-prod-btn {
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: white;
    border: solid 1px white;
  }
}

@media only screen and (min-width:200px) and (max-width:1023.98px) {
  .hid-mob-view {
    display: none;
  }

  .desktop-dis-view {
    margin-left: 0px;
  }
}

@media only screen and (min-width:1024px) {
  .desktop-dis-view {
    display: none;
    width: 100%;
  }

  .pro-slide-img-1 {
    width: 100%;
    height:250px !important
  }
}


.switches-container {
  width: 100px;
  position: relative;
  display: flex;
  padding: 0px;
  position: relative;
  background: #969494;
  line-height: 2rem;
  border-radius: 3rem;
}

.switches-container input {
  visibility: hidden;
  position: absolute;
  top: 0;
}

.switches-container label {
  width: 50%;
  padding: 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
  color: white;
}

.switch-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  padding: 0.15rem;
  z-index: 3;
  transition: transform .5s cubic-bezier(.77, 0, .175, 1);
}

.switch {
  border-radius: 3rem;
  background: #ac8900;
  height: 100%;
}

.switch div {
  width: 100%;
  text-align: center;
  opacity: 0;
  display: block;
  color: white;
  transition: opacity .2s cubic-bezier(.77, 0, .175, 1) .125s;
  will-change: opacity;
  position: absolute;
  top: 0;
  left: 0;
}

.switches-container input:nth-of-type(1):checked~.switch-wrapper {
  transform: translateX(0%);
}


.switches-container input:nth-of-type(2):checked~.switch-wrapper {
  transform: translateX(100%);
}

.switches-container input:nth-of-type(1):checked~.switch-wrapper .switch div:nth-of-type(1) {
  opacity: 1;
}


.switches-container input:nth-of-type(2):checked~.switch-wrapper .switch div:nth-of-type(2) {
  opacity: 1;
}

.prodtl-icon-sz{
  /* font-size:25px !important; */
  margin-top:-5px !important
}
@media only screen and (max-width:767.98px) {
  .switches-container {
    width: 80px;
    position: relative;
    display: flex;
    padding: 0px;
    position: relative;
    background: #969494;
    line-height: 2rem;
    border-radius: 3rem;

  }
.add-wishlist-btnbtm{
  position: sticky;
  bottom:0%;
  background-color: rgb(255, 255, 255);
  padding:0px;
  padding-block: 15px;
  width:100%;
  z-index:100;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
}
/* .css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
  border:solid 1px #b79d33 !important;
  color:black !important;
  border-radius:5px !important;
  font-size:16px !important;
  padding: 0px !important;

}
.css-iajp3t-MuiButtonGroup-root .MuiButtonGroup-grouped:not(:first-of-type){
  margin-left:5px !important
} */
.qnty-fnt-size{
  font-size:16px;
  font-weight:600;
  letter-spacing: 0.75px;
}

.share-wlst-icon{
  position:absolute;
right:0px;
top:140px;

}

.sh-wlst-icsz{
  background-color: rgb(255, 255, 255);
  width:30px;
  height: 30px;
  padding:3px;
  border-radius: 50px;
  color:#b79d33;
  font-size:30px !important;
  box-shadow: 2px 3px 6px 7px rgba(250, 249, 249, 0.205);
}

.cpn-wt-box{
  display:flex;

}
.coupon-bxbdr{
  background-color: white;
  padding:10px;
  border-radius: 10px;
  box-shadow:1px 2px 3px 4px rgb(235, 235, 235);
  width:100%;
}
.border-coupon{
  border:dashed 2px #b79d33;
  padding:20px;
  border-radius: 10px;
}

.coupon-off-fnt{
  font-size:16px;
  font-weight:600;
  letter-spacing: 0.75px;
  letter-spacing: 0.75px;
}




.coupon-copy-button {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}

.coupon-copy-button {
  margin: 12px 0 -5px 0;
  height: 45px;
  border-radius: 4px;
  padding: 0 5px;
  border: 1px solid #e1e1e1;
}

.coupon-copy-button input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight:600;
}

.coupon-copy-button button {
  
  padding: 5px 20px;
  background-color: black;
  color: #fff;
  border: 1px solid transparent;
}
.pas-eicon-box{
  position:relative;
}
.password-icon{
  position:absolute;
  right:18px;
  top:17px;
}
.breadcrumb-fnt-sz{
  font-size:15px;
  font-weight:600;
  letter-spacing: 0.75px;
  margin-top:20px;
  cursor: pointer;
}
@media only screen and (max-width:1023.98px){
  .cpn-wt-box{
    display:block;
    justify-content: space-between;
  }
  
}

