
.pro-img-card img{
  width: 100%;
  max-width: 400px !important;
  /* height: 260px !important; */
  border-radius: 5px;

  object-fit: fill !important;
}
.pro-img-box {
  width: 100% !important;
  height: 260px;
}
.card__container {
  width: 100%;
  /* max-width: 350px; */
  background-color: #fff;
  border: solid 0.50px rgb(228, 227, 227);
  border-radius: 0px;
  position: relative;
  top: 20px;
  margin-bottom: 20px;
  height:auto;
}

.card__top__section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  /* height: 280px; */
  width: 100%;
  /* padding: 10px 0px 0px 0px; */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  /* display: flex; */
}

.card__top__section__icons {
  right: 0px;
  position: absolute;
  opacity: 0;
  width: 30px;
}

.card__container:hover .card__top__section__icons {
  opacity: 1;
  z-index: 1000 !important;
}
.ifo-btn-vw {
  position: absolute;
  opacity: 0;
  bottom: 28.7%;
  width: 100%;
}
.card__container:hover .ifo-btn-vw {
  opacity: 1;
  background: rgb(255, 255, 255, 0.1);
  z-index: 1000 !important;
  animation: openLeft 0.5 ease;
}

@keyframes openLeft {
  0%{
    width: 0px;
  }
  100%{
    width: 100%;
  }
}
.card-pro-icon {

  font-size:27px !important;
  border-radius: 50%;
  /* z-index: 100; */
  margin-top: 5px;
  text-align: center;
  color:rgb(48, 48, 48);
  padding: 2px;
  cursor:pointer;
  border:solid 1px rgb(110, 110, 110);
 margin-right:5px;
}

.card__body__section {
  text-align: center;

}

/* .card__body__section > p {
  font-weight: 700;
} */

/* .rating-section {
  border-top: 1px solid #eee;
  padding: 8px 8px;
  display: flex;
  content: "";
  clear: both;
 
  justify-content: space-between;
} */

.rating-with-color {
  color: #0227bd;
  font-size:17px !important;
}

.stars-rating {
  float: left;
}

.stars-rating > span {
  font-size: small;
}

.c-price {
  /* float: right; */
  font-size: 17px;
  font-weight: 600;
  color:black
}
.pro-item-name {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.75px;
  margin-top: 20px;
  color:black;
  padding-left:10px;
}
.more-info-btn {
  background-color: #0291bd;
  color: white;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 18vw !important;
  font-size: 16px;
  font-weight: 500;
}
.bg-box {
  position: absolute;
  height: 260px;
  background-color: transparent;
  z-index: 20;
  width: 100%;
}
.bg-box:hover {
  background-color: rgb(37, 37, 37, 0.5);
}
.grid-view{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  width:100%;

}
.rating-sec{
  display:flex;
  justify-content: space-between;
  padding:5px;
}
.grid-column{
  width:25%;
  padding-left:5px;
  padding-right: 5px;
}
.home-card-box{
  
  width:100%;
  max-width:300px;
  border-radius: 13px;
  border:none;
  background-color: white;
  box-shadow: 1px 1px 4px 4px #fcf4da;

  /* height: 400px; */
}
.home-card-img{
  width:100%;
  height:auto;
  border-radius: 10px;
  cursor: pointer;
  object-fit: fill;
}
.home-card-heading{
  font-size:17px;
  font-weight: 600;
  letter-spacing: 0.75px;
  color:#b79d33;
  cursor: pointer;
  width:25ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.home-card-price{
  font-size:15px;
  font-weight:600;
  letter-spacing: 0.75px;
  color:rgb(32, 32, 32);
  cursor: pointer;
}
.home-card-iconsz{
  font-size:17px !important;
  color:rgb(32, 32, 32)
}
.hm-span-fnsz{
  font-size:13px;
  font-weight: 500;
  color:rgb(83, 83, 83);
}
.home-card-bx-cont{
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.75px;
  text-align: justify;
  width:30ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.home-card-icnpost{
  position: relative;
}
.hm-crd-posticon{
  /* position: absolute; */
  background-color: rgb(0, 0, 0);
  font-size:25px !important;
  width:40px;
  height: 40px;
  padding:3px;
  border-radius: 50px;
  color:#fdfdfd;
right:2px;
margin-top:2px;
box-shadow: 2px 3px 6px 7px rgba(250, 249, 249, 0.205);
cursor: pointer;
}
.hm-crd-posticon:hover{
  background-color: #ff4343;
}

/* .home-slider-boxvw{
  width:85%;
  
  margin-left: 0 !important;
} */

.off-font{
  font-size:13px;
  font-weight: 600;
  margin-top:-5px;
}
.pro-price-fx{
  display:flex;
}

.filtr-new-box-1{
  background-color:white;
  border-radius: 5px;
  padding:10px;
  border:solid 1px white;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
.filtr-new-box-1:hover{
  border:solid 1px #b79d33;
  transform: scale(1.01);
}

@media screen and (max-width: 767.98px) {
  .filtr-new-box-1:hover{
    border:none;
    transform:none;
  }
  .filtr-new-box-1{
    box-shadow:none;
    padding:0px;
  }
  .pro-price-fx{
    display:block;
  }
  .home-card-box{
    width:100%;
    max-width:308px !important;
    margin-top:40px;
    margin-bottom:40px;
    margin:auto;
  }
.home-carousel-sz{
    margin:3px !important;
    height:auto;
  }
  .home-card-img{
    width:100%;
    height:auto;
    border-radius: 10px;
    cursor: pointer;
  }
  .home-card-heading{
    font-size:16px;
    font-weight: 600;
    letter-spacing: 0.75px;
    color:#b79d33;
    cursor: pointer;
  }
  .home-card-price{
    font-size:15px;
    font-weight:600;
    letter-spacing: 0.75px;
    color:rgb(32, 32, 32);
    cursor: pointer;
  }
  .home-card-iconsz{
    font-size:17px !important;
    color:rgb(32, 32, 32)
  }
  .hm-span-fnsz{
    font-size:12.5px;
    font-weight: 500;
    color:rgb(83, 83, 83);
  }
  .home-card-bx-cont{
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.75px;
    text-align: justify;
  }

.productcard-home-sldr{
  margin-left: 0px !important;
 }
.react-multiple-carousel__arrow{
display:none;
}
  .bg-box {
    position: absolute;
    height: auto;
    background-color: transparent;
    z-index: 20;
    width: 100%;
  }
  .grid-column{
    width:50%;
    padding-left:2px;
    padding-right:2px;
  }
  .rating-sec{
    display:block;
    justify-content: space-between;
    padding:5px;
  }
  /* .more-info-btn {
    background-color: #0291bd;
    color: white;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 20vw !important;
    font-size: 16px;
    font-weight: 500;
   
  } */

 /* .contain-grid{
  padding-left:2px;
  padding-right:2px;
 } */
 
  .card__container {
    width: 100%;
    height:auto;
  }
  .card__container.card__top__section__icons {
    opacity: 1;
  }
  .card__top__section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    /* height: 150px; */
    width: 100%;
    /* padding: 10px 0px 0px 0px; */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    /* display: flex; */
  }
  .pro-img-card img{
    width: 100%;
    max-width:auto !important;
    height: auto !important;
    object-fit: fill !important;
  }
  .pro-item-name {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.75px;
    margin-top: 10px;
  }
  .c-price {
    float: left;
    font-size: 15px;
    font-weight: 600;
    margin-top: 8px;
  }
  .rating-with-color {
    color: #0227bd;
    font-size: 13px;
  }
  .pro-img-box {
    width: 100% !important;
    height: auto;
  }
  .more-info-btn {
    background-color: #0291bd;
    color: white;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 42vw !important;
    font-size: 13px;
    font-weight: 500;
  }
  .ifo-btn-vw {
    position: absolute;
    opacity: 0;
    bottom: 50%;
  }

  .card-pro-icon {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 100;
    margin-top: 5px;
    text-align: center;
    padding: 5px;
  }
  /* .rating-section {
    border-top: 1px solid #eee;
    padding: 8px 8px;
    display: table;
    content: "";
    clear: both;
    width: 100%;
    justify-content: space-between;
  } */

  /* .card__container:hover .card__top__section__icons {
    opacity: 1;
    z-index: 1000 !important;
  } */
  .card__top__section__icons{
    opacity:1;

  }
}

@media only screen and (min-width:768px) and (max-width:1023.98px){
  .grid-column{
    width:33.33%;
  }
  .bg-box {
    position: absolute;
    height: 180px;
    background-color: transparent;
    z-index: 20;
    width: 100%;
  }

  .pro-img-card img{
    width: 100%;
    max-width: 400px !important;
    height: auto !important;
    object-fit: fill !important;
  }
  .pro-img-box {
    width: 100% !important;
    height: 180px;
}
.card-pro-icon {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 100;
  margin-top: 5px;
  text-align: center;
  padding: 5px;
}
.ifo-btn-vw {
  position: absolute;
  opacity: 0;
  bottom: 45%;
}
.c-price {
  float: left;
  font-size: 15px;
  font-weight: 600;
  margin-top: 8px;
}
.pro-item-name {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.75px;
  margin-top: 10px;
}
/* .contain-grid{
  padding-left:0px !important;
  padding-right:0px !important;
 } */
}