.navOuter,
.left-nav-item {
  /* border: solid 2px black; */

  position: sticky;
  top: 20px;
  left: 0px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  /* overflow: hidden; */

  z-index: 4000;

  padding-block: 7px;
  padding-inline: 40px;
  position: initial
}

.left-nav-item {
  justify-content: space-between;

  width: 100%;
}

.nav-box {
  /* border: solid 2px rgb(21, 253, 13); */
  width: 100%;
  height: 100%;
}

.nav-box i:focus {
  color: #d1b647;
}

.nav-box-search {
  height: 100%;
  max-width: 350px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.nav-box-search .nav-search {
  width: 100%;
  height: 36px;
  padding: 10px;
  border: solid 1.5px rgb(37, 37, 37);
  border-radius: 25px !important;
  outline: none;
}

.nav-search-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
    cursor: pointer;
    bottom: 8px;
}

.nav-search-icon1 {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 50px;
  margin-top: 5px;
  cursor: pointer;
}

.nav-account {
  max-width: 120px;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-right: 20px;
  /* position: relative; */
}

.nav-account .nav-box {
  /* width: 100px; */
  /* height: 60px; */

  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-account .nav-box {
  width: 100%;
  height: 100%;
}

.nav-logo {
  max-width: 150px;
  width: 100%;
}

.nav-logo img {
  width: 100%;
  height: 100%;
}

.nav-product {
  display: flex !important;
  align-items: center;
  justify-content: center !important;
  height: 100% !important;
}

.nav-box-product {
  /* height: 135%; */

  font-size: 15px;
  font-weight: 600 !important;
  color: rgb(46, 46, 46);
  text-decoration: none;
  position: relative;

  display: flex;
  align-items: center;
  /* 
  padding-inline: 20px; */
}

.nav-box-product:hover {
  color: #d1b647;
}

.nav-icon-item {
  cursor: pointer;
  font-size: 25px;
  color: black
}

.nav-icon-item:hover {
  color: #d1b647;
}

.caret-icon-sz {
  font-size: 14px;
}

.nav-product li {
  list-style-type: none;

  width: 135px;
}

.nav-outer-dropdown {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  z-index: 40000;
  background-color: white;
}

.navbar-mobile {
  display: none;
}

.dropdown-menu1 {
  background-color: #ffffff;
  width: 100%;
  margin: auto;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  padding: 20px 12px;
  list-style-type: none;
  position: sticky;
  /* margin-top: 0px; */

}

.menu-heading-ft {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #78009c;
  margin-top: 15px;
}

.sp-list-type {
  text-decoration: none;
  color: rgb(26, 26, 26);
  font-size: 14px !important;
  font-weight: 600 !important;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.sp-list-type:hover {
  color: #d1b647;
}

.dropdown-pro-img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: solid 1px rgb(209, 209, 209);
  padding: 2px;
}

.ar-pro-img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: solid 1px rgb(209, 209, 209);
  padding: 2px;
}

.sel-item {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

.seller-item-1 {
  display: flex;
  border: solid 1px rgb(160, 160, 160);
  padding: 10px;
}

.sel-item-img {
  max-width: 270px;
  width: 100%;
}

.more-profile {
  position: absolute;
  top: 60px;
  right: 100px;

  padding: 10px;
  z-index: -1;

  width: 130px;

  text-align: center;
  background-color: #ffffff;

  list-style: none;
  color: black;
  border-radius: 5px;
  box-shadow: 2px 2px 30px 5px rgb(236, 235, 255);

}

@media only screen and (max-width:767.98px){
  .more-profile {
   
    right: 50px;

  }
}

.more-profile li {
  cursor: pointer;
  /* margin-top: 10px; */
}

.more-profile li:hover {
  color: black;
}






@media only screen and (max-width: 1100px) {
  .navOuter {
    padding: 20px;
  }

  .left-nav-item {
    padding-right: 10px;
  }

  .nav-bar-mobile {
    display: none;
  }
}

@media only screen and (max-width: 900px) {

  .navOuter {
    display: none;
  }

  .navbar-mobile {
    display: flex;
    flex-direction: column;

    padding: 10px;
    padding-left: 20px;

    height: auto;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    z-index: 100;
  }

  .nav-product {
    flex-direction: column;

    align-items: baseline;
    margin-top: 20px;
  }

  .nav-product li {
    margin-top: 15px !important;
  }

  ul {
    padding-left: 5px !important;
  }

  .nav-product li a {
    padding-left: 0px;
  }

  /* .nav-mobile-item{
  margin
 } */
  .nav-account {
    margin-top: 20px;
  }

  .nav-mob-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-mob-icon svg {
    margin-right: 20px;
  }

}
.navtab-box-vw {
  width: 300px;
  display: flex;
  height: 450px;

}

.navbar-tab-box {
  width: 100%;
  max-width: 300px;
  background-color: #fdf9e8;
  padding: 20px;
  /* overflow-y: scroll; */
  display: block !important;
  box-shadow :1px 1px 2px 1px rgb(206, 205, 216);

}

.Category-menu-listfnt {
  font-size: 16.5px;
  font-weight: 600;
  letter-spacing: 0.75px;
  color: rgb(53, 52, 52);
  margin-top: 7px;
  cursor: pointer
}

.Category-menu-listfnt:hover {
  color: #b79d33
}

.cate-menu-listvw>div {
  width: 100%;
  max-width: 500px;
  background-color: #fdf9e8;
  padding: 20px;
  margin-left: 200px;
  margin-top: 40px;
  /* position: initial; */
  /* overflow-y: scroll; */

}

.type-catelisthd {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.75px;
  color: #b79d33;
  text-transform: uppercase;

}

.list-ptag-font {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.75px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.list-ptag-font:hover {
  color: #b79d33
}

@media only screen and (max-width:1023.98px) {
  .nav-icon-item {
    cursor: pointer;
    font-size: 23px;
    color: black
  }

  .desktop-navbar-vw {
    display: none;
  }
}

.menubar-icon-nav {
  width: 25px;
  height: 25px;
  margin-top: 5px;
}

.accord-item-list-box {
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: none;
  border-radius: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.list-fntsz-mbvw {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.75px;
  color: #b79d33;
  text-transform: uppercase;
}

.accordion-item:first-of-type .accordion-button {
  border-radius: 0px;
}

.menucate-title-fnt {
  font-size: 16.5px !important;
  font-weight: 600 !important;
  letter-spacing: 0.75px !important;

}

.accordion-button:not(.collapsed) {
  box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none !important;
}

@media only screen and (min-width:1024px) {
  .mobile-navbarview {
    display: none !important;
  }
}

.show-numbericn {
  position: relative;
}

.number-icon-sz {
  position: absolute;
  font-size: 14px;
  font-weight: 700;
  top: -6px;
  right: -9px;
  border-radius: 50%;
  background: #d2ae19f0;
  width: 20px;
  text-align: center;
  color: white;

}
.user-name-fntsz{
  font-size:12px;
  text-align: center;
  font-weight:600;
  position: absolute;
  top:40px;
  /* right:145px */
  margin-left:-13px;
  /* margin-top:-7px;
   */
}
.user-name-fntsz1{
  font-size:12px;
  text-align: center;
  font-weight:600;
  margin-top:-7px;
  margin-left:15px;
  color:black;
}


.search-offbtn{
  background-color:rgb(0, 120, 124);
  color:white;
  padding-left:20px;
  padding-right:20px;
  padding-top:8px;
  padding-bottom:8px;
  border:solid 1px rgb(0, 120, 124);
  font-size:15px;
  font-weight:500;
  letter-spacing: 0.75px;
  margin-left:5px;
  border-radius: 5px;
  box-shadow:1px 2px 3px 4px rgb(243, 241, 241)
}

.srch-input-box{
  border-radius: 5px;
  border:solid 1px grey;
  font-size:15px;
  font-weight:600;
  letter-spacing: 0.75px;
  padding-left: 5px;
  box-shadow:1px 2px 3px 4px rgb(243, 241, 241)
}

@media only screen and (max-width:1023.98px){
  .nav-logo {
    max-width: 120px;
    width: 100%;
    margin-top:-10px;
  }
}