.srch-ipt-cntet-bx{
    width:100%;
    max-width:500px;
    background-color:white;
    box-shadow: 2px 2px 20px 5px rgb(248, 248, 248);
    border-radius: 0px 0px 5px 5px;
    padding:15px;
     left:50%;
    position: absolute;
    top:103%;
    height:300px;
    overflow-y: scroll;
  }
  .timer-iconsz{
    width:22px;
    height:22px;
    cursor: pointer;
  }
  .srch-ipt-detail-ptag{
    font-size:15px;
    font-weight: 600;
    letter-spacing: 0.75px;
    margin-left:10px;
    color:rgb(134, 133, 133);
    cursor: pointer;
  }
  .search-img-dtl1{
    width:40px;
    height:45px;
  }